<%= form_for(venue) do |f| %>
  <% if venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "input-text full-width" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "input-text full-width" %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, class: "input-text full-width" %>
  </div>

  <div class="field">
    <%= f.label :"size(sqrft)" %>
    <%= f.number_field :size, class: "input-text full-width" %>
  </div>

  <div class="field">
    <%= f.label :featured_image %>
    <%= f.file_field :featured_image, class: "input-text full-width" %>
    <%= f.hidden_field(:featured_image_cache) %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id, class: "input-text full-width" %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, class: "input-text full-width" %>
  </div>

  <div class="actions action btn-hot text-capitalize submit btn pull-right">
    <%= f.submit %>
  </div>
<% end %>
