<div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                <h1 class="entry-title">Show Venue</h1>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="#">HOME</a></li>
                    <li class="active">Show Venue</li>
                </ul>
            </div>
</div>

<section id="content">
            <div class="container">
                <div class="row">
                    <div id="main" class="col-md-9">
                        <div class="tab-container style1" id="hotel-main-content">
                            <ul class="tabs">
                                <li class="active"><a data-toggle="tab" href="#photos-tab">photos</a></li>
                                <li><a data-toggle="tab" href="#map-tab">map</a></li>
                                <li><a data-toggle="tab" href="#steet-view-tab">street view</a></li>
                                <li><a data-toggle="tab" href="#calendar-tab">calendar</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="photos-tab" class="tab-pane fade in active">
                                    <div class="photo-gallery style1" data-animation="slide" data-sync="#photos-tab .image-carousel">
                                        <ul class="slides">
                                            <li><%= image_tag(@venue.featured_image.url(:conman)) %></li>
                                           
                                        </ul>
                                    </div>
                                    <div class="image-carousel style1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#photos-tab .photo-gallery">
                                        <ul class="slides">
                                          <li><img src="images/venueone/1.jpg" alt="" /></li>
                                          <li><img src="images/venueone/2.jpg" alt="" /></li>
                                          <li><img src="images/venueone/3.jpg" alt="" /></li>
                                          <li><img src="images/venueone/4.jpg" alt="" /></li>
                                          <li><img src="images/venueone/5.jpg" alt="" /></li>
                                          <li><img src="images/venueone/6.jpg" alt="" /></li>
                                          <li><img src="images/venueone/7.jpg" alt="" /></li>
                                          <li><img src="images/venueone/8.jpg" alt="" /></li>
                                          <li><img src="images/venueone/9.jpg" alt="" /></li>
                                          <li><img src="images/venueone/10.jpg" alt="" /></li>
                                          <li><img src="images/venueone/11.jpg" alt="" /></li>
                                          <li><img src="images/venueone/12.jpg" alt="" /></li>
                                          <li><img src="images/venueone/13.jpg" alt="" /></li>
                                          <li><img src="images/venueone/14.jpg" alt="" /></li>
                                          <li><img src="images/venueone/15.jpg" alt="" /></li>

                                        </ul>
                                    </div>
                                </div>
                                <div id="map-tab" class="tab-pane fade">

                                </div>
                                <div id="steet-view-tab" class="tab-pane fade" style="height: 500px;">

                                </div>
                                <div id="calendar-tab" class="tab-pane fade">
                                    <label>SELECT MONTH</label>
                                    <div class="col-sm-6 col-md-4 no-float no-padding">
                                        <div class="selector">
                                            <select class="full-width" id="select-month">
                                                <option value="2017-2">February 2017</option>
                                                <option value="2017-3">March 2017</option>
                                                <option value="2017-4">April 2017</option>
                                                <option value="2017-5">May 2017</option>
                                                <option value="2017-6">June 2017</option>
                                                <option value="2017-7">July 2017</option>
                                                <option value="2017-8">August 2017</option>
                                                <option value="2017-9">September 2017</option>
                                                <option value="2017-10">October 2017</option>
                                                <option value="2017-11">November 2017</option>
                                                <option value="2017-12">December 2017</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="calendar"></div>
                                            <div class="calendar-legend">
                                                <label class="available">available</label>
                                                <label class="unavailable">unavailable</label>
                                                <label class="past">past</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <p class="description">
                                                The calendar is updated every five minutes and is only an approximation of availability.
<br /><br />
Some hosts set custom pricing for certain days on their calendar, like weekends or holidays. The rates listed are per day and do not include any cleaning fee or rates for extra people the host may have for this listing. Please refer to the listing's Description tab for more details.
<br /><br />
We suggest that you contact the host to confirm availability and rates before submitting a reservation request.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="hotel-features" class="tab-container">
                            <ul class="tabs">
                                <li class="active"><a href="#hotel-description" data-toggle="tab">Description</a></li>
                                <li><a href="#hotel-amenities" data-toggle="tab">Amenities</a></li>
                                <li><a href="#hotel-reviews" data-toggle="tab">Reviews</a></li>
                                <li><a href="#hotel-faqs" data-toggle="tab">FAQs</a></li>
                                <li><a href="#hotel-write-review" data-toggle="tab">Write a Review</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="hotel-description">
                                    <div class="intro table-wrapper full-width hidden-table-sms">
                                        <div class="col-sm-5 col-lg-4 features table-cell">
                                            <ul>
                                                <li><label>Venue type:</label>4 star</li>
                                                <li><label>Size:</label>6 - 10</li>
                                                <li><label>Security Deposit:</label>R1000</li>
                                                <li><label>Country:</label>South Africa</li>
                                                <li><label>City:</label>Pretoria</li>
                                                <li><label>Neighborhood:</label>SunnySide</li>
                                                <li><label>Cancellation:</label>strict</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-7 col-lg-8 table-cell testimonials">
                                            <div class="testimonial style1">
                                                <ul class="slides ">
                                                    <li>
                                                        <p class="description">Always enjoyed have my meetings at SunnySide. This house provides a great view, pleasant environment and great facilities that make it the perfect spot for our meetings</p>
                                                        <div class="author clearfix">
                                                            <a href="#"><img src="images/description.jpg" alt="" width="74" height="74" /></a>
                                                            <h5 class="name">Vuyo Nonbujo<small>guest</small></h5>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p class="description">Always enjoyed my stay with SunnySide Villas, top class room service and rooms have great outside views and luxury assessories. Thanks for great experience.</p>
                                                        <div class="author clearfix">
                                                            <a href="#"><img src="images/description.jpg" alt="" width="74" height="74" /></a>
                                                            <h5 class="name">Vuyo Nonbujo<small>guest</small></h5>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p class="description">Always enjoyed my stay with SunnySide Villas, top class room service and rooms have great outside views and luxury assessories. Thanks for great experience.</p>
                                                        <div class="author clearfix">
                                                            <a href="#"><img src="images/description.jpg" alt="" width="74" height="74" /></a>
                                                            <h5 class="name">Vuyo Nonbujo<small>guest</small></h5>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="long-description">
                                        <h2>About SunnySide Villas</h2>
                                        <p>
                                            Meeting rooms are the event venues of choice to host a business meeting. Probably the first venue that comes to mind is the meeting room. A convenient and tested venue, the meeting room is a great choice among business professionals and individuals alike. Even the term, meeting room, exudes a certain type of stern, important character often associated with corporations or other businesses.
                                            <br /><br />

Meeting rooms are great venues to interview future employees. The location and access are convenient for job seekers to attend. A waiting area and interviewing space can be separate to ensure privacy is maintained.

Open forums can be conducted in meeting rooms. This can provide a platform for locals to make their voices heard in matters extending beyond their own city limits. Awards ceremonies that entail a quaint guest list and agenda are distinguished events often held in meeting rooms.
<br /><br />

Graduation and birthday parties often find themselves celebrating in this setting. With many meeting rooms being located within a hotel, an overnight stay is within arm’s reach. What a wonderful way to kick-off a special birthday with an intimate party followed by a restful retreat? Kids and grown-ups alike will marvel in the ease and affordability of renting a meeting room for personal events.

Businesses will savor the on-site technology demanded by nearly every function in the corporate world. Wireless Internet, networking, projectors, screens and sometimes in-house computer labs make meeting rooms a productive venue for business professionals everywhere.
<br /><br />

The term meeting room can also be a generic term sometimes interchangeable with the term ballroom. The ballroom is one of the larger meeting rooms available.

Those in attendance to events held in meeting rooms may harbor a sense of familiarity and security in the traditional setting this venue affords. With a staff on hand, meeting rooms take advantage of built-in bonuses and limit the need for outside assistance.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="hotel-amenities">
                                    <h2>Amenities</h2>

                                    <p>Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet sagittis elit et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.</p>
                                    <ul class="amenities clearfix style1">
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-wifi"></i>Wifi</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-swimming"></i>Large Table</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-television"></i>Tv</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-coffee"></i>Heat</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-aircon"></i>Air Conditioning</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-fitnessfacility"></i>Lighting System</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-fridge"></i>Lounge Furniture</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-winebar"></i>Natural Light</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-smoking"></i>Photography Lighting</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-entertainment"></i>Projector</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-securevault"></i>Screen</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-pickanddrop"></i>Sound System</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-phone"></i>Stage</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-pets"></i>Whiteboard</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-playplace"></i>Bathrooms</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-breakfast"></i>Tableware</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-parking"></i>Free parking</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-conference"></i>Additional Chairs</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-fireplace"></i>fire place</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-handicapaccessiable"></i>Handicap Accessible</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-doorman"></i>Doorman</div>
                                        </li>

                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-elevator"></i>Elevator in Building</div>
                                        </li>

                                    </ul>
                                    <br />


                                </div>
                                <div class="tab-pane fade" id="hotel-reviews">
                                    <div class="intro table-wrapper full-width hidden-table-sms">
                                        <div class="rating table-cell col-sm-4">
                                            <span class="score">3.9/5.0</span>
                                            <div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div>
                                            <a href="#" class="goto-writereview-pane button green btn-small full-width">WRITE A REVIEW</a>
                                        </div>
                                        <div class="table-cell col-sm-8">
                                            <div class="detailed-rating">
                                                <ul class="clearfix">
                                                    <li class="col-md-6"><div class="each-rating"><label>service</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>Value</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>Cleanliness</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>location</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>venue</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="guest-reviews">
                                        <h2>Guest Reviews</h2>
                                        <div class="guest-review table-wrapper">
                                            <div class="col-xs-3 col-md-2 author table-cell">
                                                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263" /></a>
                                                <p class="name">Jessica Brown</p>
                                                <p class="date">NOV, 12, 2013</p>
                                            </div>
                                            <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                <div class="comment-header clearfix">
                                                    <h4 class="comment-title">We had great experience while our stay and Hilton Hotels!</h4>
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div class="five-stars" style="width: 80%;"></div></div>
                                                        <span class="score">4.0/5.0</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-review table-wrapper">
                                            <div class="col-xs-3 col-md-2 author table-cell">
                                                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263" /></a>
                                                <p class="name">David Jhon</p>
                                                <p class="date">NOV, 12, 2013</p>
                                            </div>
                                            <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                <div class="comment-header clearfix">
                                                    <h4 class="comment-title">I love the speediness of their services.</h4>
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div class="five-stars" style="width: 64%;"></div></div>
                                                        <span class="score">3.2/5.0</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-review table-wrapper">
                                            <div class="col-xs-3 col-md-2 author table-cell">
                                                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263" /></a>
                                                <p class="name">Kyle Martin</p>
                                                <p class="date">NOV, 12, 2013</p>
                                            </div>
                                            <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                <div class="comment-header clearfix">
                                                    <h4 class="comment-title">When you look outside from the windows its breath taking.</h4>
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div class="five-stars" style="width: 76%;"></div></div>
                                                        <span class="score">3.8/5.0</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="button full-width btn-large">LOAD MORE REVIEWS</a>
                                </div>
                                <div class="tab-pane fade" id="hotel-faqs">
                                    <h2>Frquently Asked Questions</h2>
                                    <div class="topics">
                                        <ul class="check-square clearfix">
                                            <li class="col-sm-6 col-md-4"><a href="#">address &amp; map</a></li>
                                            <li class="col-sm-6 col-md-4"><a href="#">messaging</a></li>
                                            <li class="col-sm-6 col-md-4"><a href="#">refunds</a></li>
                                            <li class="col-sm-6 col-md-4"><a href="#">pricing</a></li>
                                            <li class="col-sm-6 col-md-4 active"><a href="#">reservation requests</a></li>
                                            <li class="col-sm-6 col-md-4"><a href="#">your reservation</a></li>
                                        </ul>
                                    </div>
                                    <p>Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet sagittis elit et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.</p>
                                    <div class="toggle-container">
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question1" data-toggle="collapse">How do I know a reservation is accepted or confirmed?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question1">
                                                <div class="panel-content">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question2" data-toggle="collapse">What do I do after I receive a reservation request from a guest?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question2">
                                                <div class="panel-content">
                                                    <p>Sed a justo enim. Vivamus volutpat ipsum ultrices augue porta lacinia. Proin in elementum enim. <span class="skin-color">Duis suscipit justo</span> non purus consequat molestie. Etiam pharetra ipsum sagittis sollicitudin ultricies. Praesent luctus, diam ut tempus aliquam, diam ante euismod risus, euismod viverra quam quam eget turpis. Nam <span class="skin-color">tristique congue</span> arcu, id bibendum diam. Ut hendrerit, leo a pellentesque porttitor, purus arcu tristique erat, in faucibus elit leo in turpis vitae luctus enim, a mollis nulla.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="" href="#question3" data-toggle="collapse">How much time do I have to respond to a reservation request?</a>
                                            </h4>
                                            <div class="panel-collapse collapse in" id="question3">
                                                <div class="panel-content">
                                                    <p>Sed a justo enim. Vivamus volutpat ipsum ultrices augue porta lacinia. Proin in elementum enim. <span class="skin-color">Duis suscipit justo</span> non purus consequat molestie. Etiam pharetra ipsum sagittis sollicitudin ultricies. Praesent luctus, diam ut tempus aliquam, diam ante euismod risus, euismod viverra quam quam eget turpis. Nam <span class="skin-color">tristique congue</span> arcu, id bibendum diam. Ut hendrerit, leo a pellentesque porttitor, purus arcu tristique erat, in faucibus elit leo in turpis vitae luctus enim, a mollis nulla.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question4" data-toggle="collapse">Why can’t I call or email hotel or host before booking?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question4">
                                                <div class="panel-content">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question5" data-toggle="collapse">Am I allowed to decline reservation requests?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question5">
                                                <div class="panel-content">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question6" data-toggle="collapse">What happens if I let a reservation request expire?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question6">
                                                <div class="panel-content">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question7" data-toggle="collapse">How do I set reservation requirements?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question7">
                                                <div class="panel-content">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="hotel-write-review">
                                    <div class="main-rating table-wrapper full-width hidden-table-sms intro">
                                        <article class="image-box box hotel listing-style1 photo table-cell col-sm-4">
                                            <figure>
                                                <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="images/venueone/1.jpg"></a>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title">SunnySide Villas<small><i class="soap-icon-departure"></i> Pretoria, Gauteng</small></h4>
                                                <div class="feedback">
                                                    <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>
                                                    <span class="review">270 reviews</span>
                                                </div>
                                            </div>
                                        </article>
                                        <div class="table-cell col-sm-8">
                                            <div class="overall-rating">
                                                <h4>Your overall Rating of this property</h4>
                                                <div class="star-rating clearfix">
                                                    <div class="five-stars-container"><div class="five-stars" style="width: 80%;"></div></div>
                                                    <span class="status">VERY GOOD</span>
                                                </div>
                                                <div class="detailed-rating">
                                                    <ul class="clearfix">
                                                        <li class="col-md-6"><div class="each-rating"><label>service</label><div class="five-stars-container editable-rating" data-original-stars="4"></div></div></li>
                                                        <li class="col-md-6"><div class="each-rating"><label>Value</label><div class="five-stars-container editable-rating" data-original-stars="4"></div></div></li>
                                                        <li class="col-md-6"><div class="each-rating"><label>Cleanliness</label><div class="five-stars-container editable-rating" data-original-stars="4"></div></div></li>
                                                        <li class="col-md-6"><div class="each-rating"><label>location</label><div class="five-stars-container editable-rating" data-original-stars="4"></div></div></li>
                                                        <li class="col-md-6"><div class="each-rating"><label>venue</label><div class="five-stars-container editable-rating" data-original-stars="4"></div></div></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="review-form">
                                        <div class="form-group col-md-5 no-float no-padding">
                                            <h4 class="title">Title of your review</h4>
                                            <input type="text" name="review-title" class="input-text full-width" value="" placeholder="enter a review title" />
                                        </div>
                                        <div class="form-group">
                                            <h4 class="title">Your review</h4>
                                            <textarea class="input-text full-width" placeholder="enter your review (minimum 200 characters)" rows="5"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="title">What sort of Venue was this?</h4>
                                            <ul class="sort-trip clearfix">
                                                <li><a href="#"><i class="soap-icon-businessbag circle"></i></a><span>Meeting</span></li>
                                                <li><a href="#"><i class="soap-icon-family circle"></i></a><span>Weddings</span></li>
                                                <li><a href="#"><i class="soap-icon-friends circle"></i></a><span>Conferences</span></li>
                                                <li><a href="#"><i class="soap-icon-party circle"></i></a><span>Parties</span></li>
                                            </ul>
                                        </div>
                                        <div class="form-group col-md-5 no-float no-padding">
                                            <h4 class="title">When did you travel?</h4>
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option value="2017-2">February 2017</option>
                                                    <option value="2017-3">March 2017</option>
                                                    <option value="2017-4">April 2017</option>
                                                    <option value="2017-5">May 2017</option>
                                                    <option value="2017-6">June 2017</option>
                                                    <option value="2017-7">July 2017</option>
                                                    <option value="2017-8">August 2017</option>
                                                    <option value="2017-9">September 2017</option>
                                                    <option value="2017-10">October 2017</option>
                                                    <option value="2017-11">November 2017</option>
                                                    <option value="2017-12">December 2017</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="title">Add a tip to help venue seekers choose a good venue</h4>
                                            <textarea class="input-text full-width" rows="3" placeholder="write something here"></textarea>
                                        </div>
                                        <div class="form-group col-md-5 no-float no-padding">
                                            <h4 class="title">Do you have photos to share? <small>(Optional)</small> </h4>
                                            <div class="fileinput full-width">
                                                <input type="file" class="input-text" data-placeholder="select image/s" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="title">Share with friends <small>(Optional)</small></h4>
                                            <p>Share your review with your friends on different social media networks.</p>
                                            <ul class="social-icons icon-circle clearfix">
                                                <li class="twitter"><a title="Twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                                <li class="facebook"><a title="Facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                                <li class="googleplus"><a title="GooglePlus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                                <li class="pinterest"><a title="Pinterest" href="#" data-toggle="tooltip"><i class="soap-icon-pinterest"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="form-group col-md-5 no-float no-padding no-margin">
                                            <button type="submit" class="btn-large full-width">SUBMIT REVIEW</button>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="sidebar col-md-3">
                        <article class="detailed-logo">
                            <figure>
                                <img width="114" height="85" src="images/venueone/7.jpg" alt="">
                            </figure>
                            <div class="details">
                                <h2 class="box-title">SunnySide Villas<small><i class="soap-icon-departure yellow-color"></i><span class="fourty-space">Pretoria, Gauteng Province</span></small></h2>
                                <span class="price clearfix">
                                    <small class="pull-left">avg/day</small>
                                    <span class="pull-right">R620</span>
                                </span>
                                <div class="feedback clearfix">
                                    <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>
                                    <span class="review pull-right">270 reviews</span>
                                </div>
                                <p class="description">Great location in Pretoria! Pictures exactly as shown - very gracious hosts. Walkable to everything you could want to see in Pretoria. Definitely recommend to everyone!</p>
                                <a class="button yellow full-width uppercase btn-small">Book Venue</a>
                            </div>
                        </article>
                        <div class="travelo-box contact-box">
                            <h4>Need Help?</h4>
                            <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> +233 244 412 623</span>
                                <br>
                                <a class="contact-email" href="#">support@niya.com</a>
                            </address>
                        </div>
                        <div class="travelo-box">
                            <h4>Similar Listings</h4>
                            <div class="image-box style14">
                                <article class="box">
                                    <figure>
                                        <a href="#"><img src="http://placehold.it/63x59" alt="" /></a>
                                    </figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">SunnySide Villas</a></h5>
                                        <label class="price-wrapper">
                                            <span class="price-per-unit">R620</span>AVG
                                        </label>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure>
                                        <a href="#"><img src="http://placehold.it/63x59" alt="" /></a>
                                    </figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Mnandi Plaza</a></h5>
                                        <label class="price-wrapper">
                                            <span class="price-per-unit">R1500</span>AVG
                                        </label>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure>
                                        <a href="#"><img src="http://placehold.it/63x59" alt="" /></a>
                                    </figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">MGM Grand</a></h5>
                                        <label class="price-wrapper">
                                            <span class="price-per-unit">R130</span>AVG
                                        </label>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="travelo-box book-with-us-box">
                            <h4>Why Book with us?</h4>
                            <ul>
                                <li>
                                    <i class="soap-icon-hotel-1 circle"></i>
                                    <h5 class="title"><a href="#">10,000+ Venues</a></h5>
                                    <p>Get access to thousands of venues all over South Africa</p>
                                </li>
                                <li>
                                    <i class="soap-icon-savings circle"></i>
                                    <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                    <p>Get the lowest rates for the best available venues</p>
                                </li>
                                <li>
                                    <i class="soap-icon-support circle"></i>
                                    <h5 class="title"><a href="#">Excellent Support</a></h5>
                                    <p>24x7 customer support</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>
















<section id="content">
            <div class="container">
                <div id="main">
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                        <h4 class="search-results-title"><b>View your venue details</b></h4>
                            
                        </div>
                        <div class="notify">
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <div class="hotel-list">
                                <div class="row image-box hotel listing-style1">
                                    <div class="col-sm-6 col-md-6">
                                        <article class="box">
                                            <figure>
                                                <p>
                                                
                                                   <%= image_tag(@venue.featured_image.url(:standard)) %>
                                                </p>
                                            </figure>
                                            <div class="details">
                                                <span class="price">
                                                    <small>AVG</small>
                                                    ZAR: <%= @venue.price %>
                                                </span>
                                                <h4 class="box-title"><%= @venue.name %>
                                                <small><%= @venue.location %></small></h4>
                                                <div class="feedback">
                                                    <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="" data-original-title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                                                    <span class="review">Size: <b> [<%= @venue.size %>] </b> square feet</span>
                                                </div>
                                                <p class="description"><%= @venue.description %></p>
                                                <div class="action">
                                                    <a><%= link_to 'Edit', edit_venue_path(@venue), class: "button btn-small" %></a>
                                                    <%= link_to 'Back', venues_path, class: "button btn-small" %>
                                                     <%= date_field_tag :date_to_book %>
                                                     <%= submit_tag "Book", id: "booking-date" %>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </section>

       


<p id="notice"><%= notice %></p>


<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function(e){
    $("#booking-date").click(function(e){
        e.preventDefault();
        var BookingForm = new FormData();
        BookingForm.append("booking[date_to_book]", $('#date_to_book').val().trim());
        BookingForm.append("booking[venue_id]", <%= @venue.id %>);
        BookingForm.append("booking[user_id]", 1);

    $.ajax({
                 type: "POST",
                   url: "/bookings/",
                  data: BookingForm,
                cache: false,
            contentType: false,
            processData: false,

            success: function(resp){
                //alert("day booked");
                $('.notify').prepend("<div class='alert alert-success'><button aria-hidden='true' data-dismiss='alert' class='close' type='button'> x </button> Date successfully booked </div>");
                //ui to display that date was succesfullly booked
                $('#date_to_book').val("");
            },
            fail: function(resp){
                $('.notify').prepend("<div class='alert alert-danger'><button aria-hidden='true' data-dismiss='alert' class='close' type='button'> x </button> Date successfully booked </div>");
                $('#date_to_book').val("");
                //alert("date was not booked");
                //ui to display if an error happens along the way
            }
          });
        });
});
</script>





