<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @venue.location %>
</p>

<p>
  <strong>Size:</strong>
  <%= @venue.size %>
</p>

<p>
  <strong>Featured image:</strong>
  <%= @venue.featured_image %>
</p>

<p>
  <strong>User:</strong>
  <%= @venue.user_id %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
