<div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                <h1 class="entry-title">Show Venue</h1>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="#">HOME</a></li>
                    <li class="active">Show Venue</li>
                </ul>
            </div>
</div>

<section id="content">
            <div class="container">
                <div class="row">
                    <div id="main" class="col-md-9">
                        <div class="tab-container style1" id="hotel-main-content">
                            <ul class="tabs">
                                <li class="active"><a data-toggle="tab" href="#photos-tab">photos</a></li>
                                <li><a data-toggle="tab" href="#calendar-tab">calendar</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="photos-tab" class="tab-pane fade in active">
                                    <div class="photo-gallery style1" data-animation="slide" data-sync="#photos-tab .image-carousel">
                                        <ul class="slides">
                                            <li><%= image_tag(@venue.featured_image.url(:conman)) %></li>
                                           
                                        </ul>
                                    </div>
                                    <div>

                                    </div>
                                </div>
                                <div id="map-tab" class="tab-pane fade">

                                </div>
                                <div id="steet-view-tab" class="tab-pane fade" style="height: 500px;">

                                </div>
                                <div id="calendar-tab" class="tab-pane fade">
                                    <label>SELECT MONTH</label>
                                    <div class="col-sm-6 col-md-4 no-float no-padding">
                                        <div class="selector">
                                            <select class="full-width" id="select-month">
                                                <option value="2017-3">March 2017</option>
                                                <option value="2017-4">April 2017</option>
                                                <option value="2017-5">May 2017</option>
                                                <option value="2017-6">June 2017</option>
                                                <option value="2017-7">July 2017</option>
                                                <option value="2017-8">August 2017</option>
                                                <option value="2017-9">September 2017</option>
                                                <option value="2017-10">October 2017</option>
                                                <option value="2017-11">November 2017</option>
                                                <option value="2017-12">December 2017</option>
                                            </select>
                                
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="calendar"><table><thead><tr><td>sunday</td>
                                            <td>monday</td><td>tuesday</td><td>wednesday</td><td>thursday</td>
                                            <td>friday</td><td>saturday</td></tr></thead>
                                            <tbody><tr><td class="prev-month"></td><td class="prev-month"></td>
                                            <td class="prev-month"></td><td class=" date-passed"><span>1</span></td>
                                            <td class=" today available"><a href="#">2</a></td><td class=" available"><a href="#">3<span class="price-text">ZAR: <%= @venue.price %></span></a></td>
                                            <td class=" available"><a href="#">4<span class="price-text">ZAR: <%= @venue.price %></span></a></td></tr>
                                            <tr><td class=" available"><a href="#">5<span class="price-text">ZAR: <%= @venue.price %></span></a></td>
                                            <td class=" available"><a href="#">6<span class="price-text">ZAR: <%= @venue.price %></span></a></td>
                                            <td class=" available"><a href="#">7<span class="price-text">ZAR: <%= @venue.price %></span></a></td>
                                            <td class=" available"><a href="#">8<span class="price-text">ZAR: <%= @venue.price %></span></a></td>
                                            <td class=" available"><a href="#">9<span class="price-text">ZAR: <%= @venue.price %></span></a></td>
                                            <td class=" available"><a href="#">10<span class="price-text">ZAR: <%= @venue.price %></span></a></td>
                                            <td class=" available"><a href="#">11<span class="price-text">ZAR: <%= @venue.price %></span></a></td></tr>
                                            <tr><td class=" available"><a href="#">12<span class="price-text">ZAR: <%= @venue.price %></span></a></td>
                                            <td class=" available"><a href="#">13<span class="price-text">ZAR: <%= @venue.price %></span></a></td>
                                            <td class=" available"><a href="#">14<span class="price-text">ZAR: <%= @venue.price %></span></a></td>
                                            <td class=" available"><a href="#">15<span class="price-text">ZAR: <%= @venue.price %></span></a></td>
                                            <td class=" available"><a href="#">16<span class="price-text">ZAR: <%= @venue.price %></span></a></td>
                                            <td class=" unavailable"><span>17</span></td><td class=" unavailable"><span>18</span></td></tr>
                                            <tr><td class=" unavailable"><span>19</span></td><td class=" unavailable"><span>20</span></td>
                                            <td class=" unavailable"><span>21</span></td><td class=" unavailable"><span>22</span></td>
                                            <td class=" unavailable"><span>23</span></td><td class=" unavailable"><span>24</span></td>
                                            <td class=" unavailable"><span>25</span></td></tr><tr><td class=" unavailable"><span>26</span></td>
                                            <td class=" unavailable"><span>27</span></td><td class=" unavailable"><span>28</span></td>
                                            <td class=" unavailable"><span>29</span></td><td class=" unavailable"><span>30</span></td>
                                            <td class=" unavailable"><span>31</span></td></tr></tbody></table>
                                            </div>
                                            <div class="calendar-legend">
                                                <label class="available">available</label>
                                                <label class="unavailable">unavailable</label>
                                                <label class="past">past</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="hotel-features" class="tab-container">
                            <ul class="tabs">
                                <li class="active"><a href="#hotel-amenities" data-toggle="tab">Amenities</a></li>
                                <li><a href="#hotel-reviews" data-toggle="tab">Reviews</a></li>
                                <li><a href="#hotel-faqs" data-toggle="tab">FAQs</a></li>
                            </ul>
                            <div class="tab-content">
                                
                                <div class="tab-pane fade in active" id="hotel-amenities">
                                    <h2>Amenities</h2>
                                    <ul class="amenities clearfix style1">
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-wifi"></i>Wifi</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-swimming"></i>Large Table</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-television"></i>Tv</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-coffee"></i>Heat</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-aircon"></i>Air Conditioning</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-error"></i>Lighting System</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-fridge"></i>Lounge Furniture</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-photogallery"></i>Photography Lighting</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-plans"></i>Projector</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-securevault"></i>Screen</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-fmstereo"></i>Sound System</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-magazine"></i>Stage</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-securevault"></i>Whiteboard</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-family"></i>Bathrooms</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-breakfast"></i>Tableware</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-parking"></i>Free parking</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-passenger"></i>Additional Chairs</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-fireplace"></i>fire place</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-handicapaccessiable"></i>Handicap Accessible</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-doorman"></i>Doorman</div>
                                        </li>

                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-elevator"></i>Elevator in Building</div>
                                        </li>

                                    </ul>
                                    <br />


                                </div>
                                <div class="tab-pane fade" id="hotel-reviews">
                                    <div class="intro table-wrapper full-width hidden-table-sms">
                                        <div class="rating table-cell col-sm-4">
                                            <span class="score">3.9/5.0</span>
                                            <div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div>
                                            <a href="#" class="goto-writereview-pane button green btn-small full-width">WRITE A REVIEW</a>
                                        </div>
                                        <div class="table-cell col-sm-8">
                                            <div class="detailed-rating">
                                                <ul class="clearfix">
                                                    <li class="col-md-6"><div class="each-rating"><label>service</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>Value</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>Cleanliness</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>location</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>
                                                    <li class="col-md-6"><div class="each-rating"><label>venue</label><div class="five-stars-container"><div class="five-stars" style="width: 78%;"></div></div></div></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="guest-reviews">
                                        <h2>Guest Reviews</h2>
                                        <div class="guest-review table-wrapper">
                                            <div class="col-xs-3 col-md-2 author table-cell">
                                                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263" /></a>
                                                <p class="name">Jessica Brown</p>
                                                <p class="date">NOV, 12, 2013</p>
                                            </div>
                                            <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                <div class="comment-header clearfix">
                                                    <h4 class="comment-title">We had great experience while our stay and Hilton Hotels!</h4>
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div class="five-stars" style="width: 80%;"></div></div>
                                                        <span class="score">4.0/5.0</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-review table-wrapper">
                                            <div class="col-xs-3 col-md-2 author table-cell">
                                                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263" /></a>
                                                <p class="name">David Jhon</p>
                                                <p class="date">NOV, 12, 2013</p>
                                            </div>
                                            <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                <div class="comment-header clearfix">
                                                    <h4 class="comment-title">I love the speediness of their services.</h4>
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div class="five-stars" style="width: 64%;"></div></div>
                                                        <span class="score">3.2/5.0</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-review table-wrapper">
                                            <div class="col-xs-3 col-md-2 author table-cell">
                                                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263" /></a>
                                                <p class="name">Kyle Martin</p>
                                                <p class="date">NOV, 12, 2013</p>
                                            </div>
                                            <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                <div class="comment-header clearfix">
                                                    <h4 class="comment-title">When you look outside from the windows its breath taking.</h4>
                                                    <div class="review-score">
                                                        <div class="five-stars-container"><div class="five-stars" style="width: 76%;"></div></div>
                                                        <span class="score">3.8/5.0</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="button full-width btn-large">LOAD MORE REVIEWS</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="sidebar col-md-3">
                        <article class="detailed-logo">
                            <figure>
                                <%= image_tag(@venue.featured_image.url(:thumbnail)) %>
                            </figure>
                            <div class="details">
                                <h2 class="box-title"><%= @venue.name %><small><i class="soap-icon-departure yellow-color"></i><span class="fourty-space"><%= @venue.location %></span></small></h2>
                                <span class="price clearfix">
                                    <small class="pull-left">avg</small>
                                    <span class="pull-right">ZAR: <%= @venue.price %></span>
                                </span>
                                <div class="feedback clearfix">
                                    <span class="review pull-right">Size: <b> [<%= @venue.size %>] </b> square feet</span>
                                </div>
                                <p class="description"><%= @venue.description %></p>
                                <%= date_field_tag :date_to_book, nil, class: "input-text full-width hasDatepicker" %>
                                <br><br>
                                <a><%= link_to 'Edit', edit_venue_path(@venue), class: "button btn-small" %></a>
                                <%= link_to 'Back', venues_path, class: "button btn-small" %>
                                <br><br>
                                <a><%= submit_tag "Book", id: "booking-date", class: "button yellow full-width uppercase btn-small" %></a>
                            </div>
                        </article>
                        <div class="travelo-box contact-box">
                            <h4>Need Help?</h4>
                            <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> +233 244 412 623</span>
                                <br>
                                <a class="contact-email" href="#">support@niya.com</a>
                            </address>
                        </div>
                        <div class="travelo-box book-with-us-box">
                            <h4>Why Book with us?</h4>
                            <ul>
                                <li>
                                    <i class="soap-icon-hotel-1 circle"></i>
                                    <h5 class="title"><a href="#">10,000+ Venues</a></h5>
                                    <p>Get access to thousands of venues all over South Africa</p>
                                </li>
                                <li>
                                    <i class="soap-icon-savings circle"></i>
                                    <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                    <p>Get the lowest rates for the best available venues</p>
                                </li>
                                <li>
                                    <i class="soap-icon-support circle"></i>
                                    <h5 class="title"><a href="#">Excellent Support</a></h5>
                                    <p>24x7 customer support</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>

<p id="notice"><%= notice %></p>


<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function(e){
    $("#booking-date").click(function(e){
        e.preventDefault();
        var BookingForm = new FormData();
        BookingForm.append("booking[date_to_book]", $('#date_to_book').val().trim());
        BookingForm.append("booking[venue_id]", <%= @venue.id %>);
        BookingForm.append("booking[user_id]", 1);

    $.ajax({
                 type: "POST",
                   url: "/bookings/",
                  data: BookingForm,
                cache: false,
            contentType: false,
            processData: false,

            success: function(resp){
                //alert("day booked");
                $('#hotel-main-content').prepend("<div class='alert alert-success'><button aria-hidden='true' data-dismiss='alert' class='close' type='button'> x </button> Date successfully booked </div>");
                //ui to display that date was succesfullly booked
                $('#date_to_book').val("");
            },
            fail: function(resp){
                $('#hotel-main-content').prepend("<div class='alert alert-danger'><button aria-hidden='true' data-dismiss='alert' class='close' type='button'> x </button> Date successfully booked </div>");
                $('#date_to_book').val("");
                //alert("date was not booked");
                //ui to display if an error happens along the way
            }
          });
        });
});
</script>





