<div class = "jumbotron">
    <div class = "container">
        <br /><br /><br /><br />
        <span class="slidertext">Discover & Book Unutilised Spaces for Events</span>
        <br /><br />
        <span class="slidertextchild">Search venues, compare prices, book and pay</span>
        <br /><br /><br />
        <br />
        <br />
        <div class="search-box-wrapper">
            <div class="search-box container">
                <div class="search-tab-content">
                    <div class="tab-pane fade active in" id="hotels-tab">
                        <%= form_tag({ controller: :mains, action: :search }, :method => "get") do %>
                            <div class="row search-for">
                                <div class="form-group col-sm-6 col-md-3">
                                    <%= text_field_tag :q, params[:q], placeholder: "search for city or venue name", required: true, class: "input-text full-width" %>
                                </div>

                                <div class="form-group col-sm-6 col-md-4">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="datepicker-wrap">
                                                <%= date_field_tag :date_to_book %>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="selector">
                                                <select class="full-width">
                                                <option value="1">12:00 AM</option>
                                                <option value="2">12:15 AM</option>
                                                <option value="3">12:30 AM</option>
                                                <option value="4">12:45 AM</option>
                                                <option value="5">01:00 AM</option>
                                                <option value="6">01:15 AM</option>
                                                <option value="7">01:30 AM</option>
                                                <option value="8">01:45 AM</option>
                                                <option value="9">02:00 AM</option>
                                                <option value="10">02:15 AM</option>
                                                <option value="11">02:30 AM</option>
                                                <option value="12">02:45 AM</option>
                                                <option value="13">03:00 AM</option>
                                                <option value="14">03:15 AM</option>
                                                <option value="15">03:30 AM</option>
                                                <option value="16">03:45 AM</option>
                                                <option value="17">04:15 AM</option>
                                                <option value="18">04:30 AM</option>
                                                <option value="19">04:45 AM</option>
                                                <option value="20">05:00 AM</option>
                                                <option value="21">05:15 AM</option>
                                                <option value="22">05:30 AM</option>
                                                <option value="23">05:45 AM</option>
                                                <option value="24">06:00 AM</option>
                                                <option value="25">06:15 AM</option>
                                                <option value="26">06:30 AM</option>
                                                <option value="27">06:45 AM</option>
                                                <option value="28">07:00 AM</option>
                                                <option value="29">07:15 AM</option>
                                                <option value="30">07:30 AM</option>
                                                <option value="31">07:45 AM</option>
                                                <option value="32">08:00 AM</option>
                                                <option value="33">08:15 AM</option>
                                                <option value="34">08:30 AM</option>
                                                <option value="35">08:45 AM</option>
                                                <option value="36">09:00 AM</option>
                                                <option value="37">09:15 AM</option>
                                                <option value="38">09:30 AM</option>
                                                <option value="39">09:45 AM</option>
                                                <option value="40">10:00 AM</option>
                                                <option value="41">10:15 AM</option>
                                                <option value="42">10:30 AM</option>
                                                <option value="43">10:45 AM</option>
                                                <option value="44">11:00 AM</option>
                                                <option value="45">11:15 AM</option>
                                                <option value="46">11:30 AM</option>
                                                <option value="47">11:45 AM</option>
                                                <option value="48">12:00 PM</option>
                                                <option value="49">12:15 PM</option>
                                                <option value="50">12:30 PM</option>
                                                <option value="51">12:45 PM</option>
                                                <option value="52">01:00 PM</option>
                                                <option value="53">01:15 PM</option>
                                                <option value="54">01:30 PM</option>
                                                <option value="55">01:45 PM</option>
                                                <option value="56">02:00 PM</option>
                                                <option value="57">02:15 PM</option>
                                                <option value="58">02:30 PM</option>
                                                <option value="59">02:45 PM</option>
                                                <option value="60">03:00 PM</option>
                                                <option value="61">03:15 PM</option>
                                                <option value="62">03:30 PM</option>
                                                <option value="63">03:45 PM</option>
                                                <option value="64">04:15 PM</option>
                                                <option value="65">04:30 PM</option>
                                                <option value="66">04:45 PM</option>
                                                <option value="67">05:00 PM</option>
                                                <option value="68">05:15 PM</option>
                                                <option value="69">05:30 PM</option>
                                                <option value="70">05:45 PM</option>
                                                <option value="71">06:00 PM</option>
                                                <option value="72">06:15 PM</option>
                                                <option value="73">06:30 PM</option>
                                                <option value="74">06:45 PM</option>
                                                <option value="75">07:00 PM</option>
                                                <option value="76">07:15 PM</option>
                                                <option value="77">07:30 PM</option>
                                                <option value="78">07:45 PM</option>
                                                <option value="79">08:00 PM</option>
                                                <option value="80">08:15 PM</option>
                                                <option value="81">08:30 PM</option>
                                                <option value="82">08:45 PM</option>
                                                <option value="83">09:00 PM</option>
                                                <option value="84">09:15 PM</option>
                                                <option value="85">09:30 PM</option>
                                                <option value="86">09:45 PM</option>
                                                <option value="87">10:00 PM</option>
                                                <option value="88">10:15 PM</option>
                                                <option value="89">10:30 PM</option>
                                                <option value="90">10:45 PM</option>
                                                <option value="91">11:00 PM</option>
                                                <option value="92">11:15 PM</option>
                                                <option value="93">11:30 PM</option>
                                                <option value="94">11:45 PM</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option value="1">1-5</option>
                                                    <option value="2">6-10</option>
                                                    <option value="3">11-20</option>
                                                    <option value="4">21-50</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group col-sm-6 col-md-2">
                                   <%= button_tag "Search Now" ,class: "full-width icon-check" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div><!-- End of search-tab-content -->
            </div> <!-- End of search-box container -->
        </div> <!-- End of search-box wrapper -->
    </div> <!-- End of container -->
</div> <!-- End of jumbotron -->

<section id="content">
    <!-- Popuplar Destinations -->
    <div class="destinations section">
        <div class="container">
            <h2>Featured Venues</h2>
            <div class="row image-box style1 add-clearfix">
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="1">
                           <%= link_to image_tag('venueone/1.jpg', alt: ""), "ajax/slideshow-popup1.html", class: "hover-effect popup-gallery" %>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>R620</span>
                            <h4 class="box-title">
                            <%= link_to "Sunnyside Villas<small>Pretoria, Gauteng</small>".html_safe, 'meeting-detailed.html' %>
                            </h4>
                            
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="1" data-animation-delay="0.3">
                            <%= link_to image_tag('venuetwo/1.jpg', alt: "", width: "270", height: "160"), "ajax/slideshow-popup1.html", class: "hover-effect popup-gallery" %>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>R1500</span>
                            <h4 class="box-title">
                            <%= link_to "Mnandi Plaza<small>Ulundi, Kwazulu-natal</small>".html_safe, 'meeting-detailed1.html' %>
                            </h4>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="1" data-animation-delay="0.6">
                            <%= link_to image_tag('venuethree/1.jpg', alt: "", width: "270", height: "160"), "ajax/slideshow-popup2.html", class: "hover-effect popup-gallery" %>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>R130</span>
                            <h4 class="box-title">
                            <%= link_to "MGM Grand<small>Durban, Kwazulu-natal</small>".html_safe, 'meeting-detailed2.html' %>
                            </h4>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="1" data-animation-delay="0.9">
                            <%= link_to image_tag('venuefour/1.jpg', alt: "", width: "270", height: "160"), "ajax/slideshow-popup3.html", class: "hover-effect popup-gallery" %>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>R290</span>
                            <h4 class="box-title">
                            <%= link_to "Crown Casino<small>Vryheid, Kwazulu-natal</small>".html_safe, 'meeting-detailed3.html' %>
                            </h4>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <!-- Honeymoon -->
    <div class="honeymoon section global-map-area promo-box parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="col-sm-6 content-section description pull-right">
                <p>

                </p>
                <h1 class="title">Popular Venues for Your Event</h1>

                <div class="row places image-box style9">
                    <div class="col-xs-4">
                        <article class="box">
                            <figure>
                                <%= link_to image_tag('venuethree/1.jpg', alt: ""), "meetings-grid-view.html", class: "hover-effect yellow middle-block animated", :"data-animation-type"=> "fadeInUp", :"data-animation-duration"=> "1" %>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Eastern Cape<small>(422 PLACES)</small></h4>
                                <%= link_to "SEE ALL", 'meetings-grid-view.html', class: "button" %>
                            </div>
                        </article>
                    </div>
                    <div class="col-xs-4">
                        <article class="box">
                            <figure>
                                <%= link_to image_tag('venueone/1.jpg', alt: ""), "meetings-grid-view.html", class: "hover-effect yellow middle-block animated", :"data-animation-type"=> "fadeInUp", :"data-animation-duration"=>"1", :"data-animation-delay"=> "0.4" %>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Pretoria<small>(70 PLACES)</small></h4>
                                <%= link_to "SEE ALL", 'meetings-grid-view.html', class: "button" %>
                            </div>
                        </article>
                    </div>
                    <div class="col-xs-4">
                        <article class="box">
                            <figure>
                                <%= link_to image_tag('venuetwo/2.jpg', alt: ""), "meetings-grid-view.html", class: "hover-effect yellow middle-block animated", :"data-animation-type"=> "fadeInUp", :"data-animation-duration"=> "1", :"data-animation-delay"=> "0.8" %>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">KZN<small>(500 PLACES)</small></h4>
                                <%= link_to 'SEE ALL', 'meetings-grid-view.html', class: "button" %>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 image-container no-margin">
                <img src="/assets/traditionalwedding.png" alt="" class="animated" data-animation-type="fadeInUp" data-animation-duration="2">
            </div>
        </div>
    </div>

    <!-- Did you Know? section -->
    <div class="offers section">
        <div class="container">
            <p class="col-xs-9 center-block no-float text-center">Finding the perfect venue for your event just became a breeze</p>
            <div class="row image-box style2">
                <div class="col-md-6">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInLeft" data-animation-duration="1">
                            <%= link_to image_tag('homeimages/meetings.jpg', alt: "", width: "270", height: "192"), "#" %>
                        </figure>
                        <div class="details">
                            <h4>Meetings</h4>
                            <p>Find the perfect venue for your corporate meeting. Choose from thousands of hand-picked venues from all across South Africa</p>
                            <%= link_to "SEE ALL", 'meetings-grid-view.html', class: "button" %>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInLeft" data-animation-duration="1" data-animation-delay="0.4">
                            <%= link_to image_tag('homeimages/weddings.jpg', alt: "", width: "270", height: "192"), "#" %>
                        </figure>
                        <div class="details">
                            <h4>Weddings</h4>
                            <p>Your wedding can be hosted in castel. Simply browse through our incredible venues available for your special occasion</p>
                            <%= link_to "SEE ALL", 'meetings-grid-view.html', class: "button" %>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInLeft" data-animation-duration="1">
                            <%= link_to image_tag('homeimages/conferences.jpg', alt: "", width: "270", height: "192"), "#" %>
                        </figure>
                        <div class="details">
                            <h4>Conferences</h4>
                            <p>Need space for your conference. We have hand-picked the perfect venues just for your event. Simply browse our gallery and select your pick</p>
                            <%= link_to "SEE ALL", 'meetings-grid-view.html', class: "button" %>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInLeft" data-animation-duration="1" data-animation-delay="0.4">
                            <%= link_to image_tag('homeimages/parties.jpg', alt: "", width: "270", height: "192"), "#" %>
                        </figure>
                        <div class="details">
                            <h4>Parties</h4>
                            <p>A sophisticated happy hour at any of our many party venues. Select where you'd like to have your next party</p>
                            <%= link_to "SEE ALL", 'meetings-grid-view.html', class: "button" %>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- Features section -->
    <div class="features section global-map-area parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row image-box style7">
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="middle-block">
                            <img src="/assets/homeimages/bestprice.jpg" alt="" class="middle-item" />
                            <span class="opacity-wrapper"></span>
                        </figure>
                        <div class="details">
                            <h4>
                            <%= link_to "Best Price Guarantee", '#' %>
                            </h4>
                            <p>
                                Book your venues through us at unbeatable prices and value
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                        <article class="box">
                        <figure class="middle-block">
                            <img src="/assets/homeimages/availability.jpg" alt="" class="middle-item" />
                            <span class="opacity-wrapper"></span>
                        </figure>
                        <div class="details">
                            <h4>
                            <%= link_to "Availability", '#' %>
                            </h4>
                            <p>
                                Simply select a venue and check it's avilability
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                        <article class="box">
                        <figure class="middle-block">
                            <img src="/assets/homeimages/whychooseus.jpg" alt="" class="middle-item" />
                            <span class="opacity-wrapper"></span>
                        </figure>
                        <div class="details">
                            <h4>
                            <%= link_to "Why Choose Us", '#' %>
                            </h4>
                            <p>
                                Choose from 1000+ venues and book at discounted prices
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                        <article class="box">
                        <figure class="middle-block">
                            <img src="/assets/homeimages/needhelp.jpg" alt="" class="middle-item" />
                            <span class="opacity-wrapper"></span>
                        </figure>
                        <div class="details">
                            <h4>
                            <%= link_to "Need Help?", '#' %>
                            </h4>
                            <p>
                                Our customer support is available 24x7 to help you
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<p id="notice"><%= notice %></p>

<%= form_tag({ controller: :mains, action: :search }, :method => "get") do %>
    <%= text_field_tag :q, params[:q], placeholder: "Supplier or Service", required: true %>
    <%= submit_tag "Search", class: "search-no-border btn-search" %>
<% end %>
